.block1 {
    width: 200px;
    height: 2000px;
    background-color: green;
    position: relative;
}
.block2__fix {
    position: absolute;
    width: 600px;
    height: 200px;
    background-color: brown;        
    position: fixed;    
    top: 100px;
    left: 100px;  
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;     
}



