span:first-child {
    color: red;
}
span:last-child {
    color: green;
}
p:not(.text) {
    color: red;
}
div {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;    
}
.link:link {
    color: green;
}
.link:visited {
    color: blue;
}
li {
    position: relative;
}
li::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: red;
    display: block;
    position: absolute;
    left: -20px;    
}
ul {
    list-style: none;
}
ol {
    list-style: none;
}