span:first-child {
    color: red;
}
span:last-child {
    color: green;
}
li:nth-child(even) {
    color: red;
}
li:nth-child(odd) {
    color: green;
}
p:not(.text) {
    color: red;
}
div {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;    
}
.link:link {
    color: green;
}
.link:visited {
    color: blue;
}